# these packages are used to automate unit tests
attrs==20.3.0
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
toml==0.10.2
# these packages are used to generate an html report for the unit tests
pytest-html==3.1.1
pytest-metadata==1.11.0
# this package is used to calculate unit test coverage
coverage==5.3
# this package is used to generate a code coverage badge
coverage-badge==1.0.1
# these packages are used to do code analysis
mccabe==0.6.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylama==7.7.1
snowballstemmer==2.0.0
# these packages are used to calculate code metrics
colorama==0.4.4
future==0.18.2
mando==0.6.4
radon==4.3.2
six==1.15.0
# these packages are used to analyze the code for security vulnerabilities
bandit==1.7.0
gitdb==4.0.5
GitPython==3.1.11
pbr==5.5.1
PyYAML==5.3.1
smmap==3.0.4
stevedore==3.3.0
# these packages are used to check dependencies for security issues
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dparse==0.5.1
idna==2.10
requests==2.25.1
safety==1.9.0
urllib3==1.26.2
# these packages are used to do static type analysis
decorator==4.4.2
importlab==0.5.1
networkx==2.5
ninja==1.10.0.post2
pytype==2020.12.16
typed-ast==1.4.1

